<div class="page-header">
  <h1>
    Restarant tags
    <a href="/restarant_tags/new" class="btn btn-lg btn-success">New Restarant tag</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurant</th>
        <th>Tag</th>
        <th>Actions</th>
      </tr>

      <% @restarant_tags.each do |restarant_tag| %>
      <tr>
        <td>
          <% if restarant_tag.restaurant.present? %>
            <a href="/restaurants/<%= restarant_tag.restaurant.id %>">
              <%= restarant_tag.restaurant.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <% if restarant_tag.tag.present? %>
            <a href="/tags/<%= restarant_tag.tag.id %>">
              <%= restarant_tag.tag.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/restarant_tags/<%= restarant_tag.id %>" class="btn btn-primary">Show</a>
          <a href="/restarant_tags/<%= restarant_tag.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_restarant_tag/<%= restarant_tag.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @restarant_tags, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
